{% extends "principal.html" %}

{% block content %}

<!-- Header -->
<header id="portfolio">
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b>Heart Disease</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
      <span class="w3-margin-right">{{ principal.full_description|linebreaks }}</span>
      <p>
        <a href={{ principal.notebook_model }}><button class="w3-button w3-dark-grey w3-padding-large">
          <i class="fa fa-download w3-margin-right"></i>Download notebook PDF.
        </button></a>
      </p>
    </div>
    </div>
  </header>


  <div class="w3-row-padding">
    <div class="w3-container w3-margin-bottom">
      <a>
      <img src="{{ principal.images }}" alt="Norway"  class="w3-margin-right" style="object-fit:cover; width:920px; height:100px; border: solid 1px #CCC" ></a>
        <form action="/getValue/" method="POST">{% csrf_token %}
            <div class="w3-margin-top">
            {% for campo in object_list %}
            <div class="w3-third w3-container w3-margin-bottom">
              <div><label for="cars">{{ campo.name_campo }}</label>
                <span class="omrs-input-label w3-yellow " title="{{ campo.info }}">&#10069;</span>
              </div>
              {% if campo.option %}
              <select name="valores" id="valores">
                <optgroup label="valores">
                  {% for key,value in campo.option.items %}
                  <option class="w3-block w3-teal" value={{key}}>{{value}}</option>
                  {% endfor %}
              </select>
              {% else %}
                <input type="text" list="cars" name="valores" class="form-control" placeholder={{ campo.name_campo }} title="{{ campo.info }}" options="djkk">
            {% endif %}
          </div>
            {% endfor %}
            <button type="submit" style="font-size:2vw" class="btn btn-primary w3-button w3-block w3-teal ">C a l c u l a t e</button>
            </div>
        </form>
      </div>
    </div>
        <div class="d-flex justify-content-center" style="width:40%; text-align:center;">
          <canvas id="pie-chart"></canvas>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.1.0/chartjs-plugin-datalabels.js" integrity="sha512-Yzo/giBs5BES+fbKjSTy/2oZaf+CcnxVvWODk0bfzHgEPQUPdgtDCucIBLR3JrlDp2D83r0gaoOGugTjafScxA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
          var config = {
            labels: {{ result1 }},
            type: 'pie',
            data: {
              datasets: [{
                data: {{ result1 }},
                datalabels: {
                  color: 'black',
                  font: {
                    size: 20
                }
                },
                backgroundColor: [
                '#0000ff', '#ff0000'
                ]
              }],
              labels: ['No Heart Disease', 'Heart Disease']
            },
            options: {
              scales: {
              },
              plugins: {
                legend: {
                  labels: {
                    // This more specific font property overrides the global property
                    color: 'black',
                    font: {
                        size: 15
                    }
                  }
                  },
                tooltip: {
                  enabled: false
                },
                datalabels: {
                  formatter: (value, context) => {
                    return value+'%';
                  },
                }
                }
            },
            plugins: [ChartDataLabels]
          };
          window.onload = function() {
            var ctx = document.getElementById('pie-chart').getContext('2d');
            window.myPie = new Chart(ctx, config);
          };
        </script>
{% endblock %}