<!DOCTYPE html>
<html>
<head>
    {% load static%}
<title>Title of the document</title>
</head>

<body>
    <div class="w3-row-padding">
        <div class="w3-container w3-margin-bottom" >
            <img src="{% static 'img/under_construction01.jpg' %}" style="width:75%; text-align:center;">
            <a href="http://127.0.0.1:8000/" onclick="w3_close()" style="font-size:2vw" class="w3-button w3-black w3-margin-bottom"><i class="fa fa-paper-plane w3-margin-right"></i>HOME PAGE</a>
        </div>
    </div>
</body>

</html>